### Assignment 2(19-02-2022 to 20-02-2022)

#### 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [8]:
var1 = int(input('Enter the first variable:'))
var2 = int(input('Enter the second variable:'))

sum=var1+var2

Enter the first variable:3
Enter the second variable:4

In [9]:
print(sum)

7

#### 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [10]:
s = 'Year is '

y= 2022

print(s + y)

TypeError: can only concatenate str (not "int") to str

In [16]:
s = 'Year is '

y= 2022

print(s + str(y))

Year is 2022

#### 3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [20]:
a= 'Data science'
print('s' in a)

True

#### 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [34]:
def funct(lis):
    if (lis[0] == lis[-1]):
        print ('True')
    else:
        print ('False')
lis = [1,2,3,4,5]
funct(lis)

False

In [36]:
lis1=[1,2,4,5,1]
funct(lis1)

True

#### 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [48]:
l1 = [10, 20, 33, 46, 55]
a= [x for x in l1 if x % 5 == 0]
print(a)

[10, 20, 55]

#### 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.   a.	Hint: Separate return values with a comma

In [54]:
def calculation(a,b):
    return a+b, a-b

a1=int(input("Enter the a value"))
b2=int(input("Enter the b value"))
print(a1+b2)
print(a1- b2)
calculation(a1,b2)

Enter the a value34
Enter the b value22
56
12

(56, 12)

#### 7.	Write a program to demonstrate the following Syntax error
a.	SyntaxError: non-default argument follows default argument

In [55]:
def greet(arg2 =" Good Morning", arg1):
    print("hello", arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5464/2391097380.py, line 1)

#### 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

##### Recursion is a function that calls itself

In [61]:
def recursion(x):
     if x ==0:
        return x
     else:
        return (x + recursion(x-1))
        
x=10
recursion(x)

55

#### 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [63]:
a=[12, 11, 53, 22, 21, 77, 87, 88, 98]

val =list(filter(lambda x : x % 2 == 1, a))
val2 =list(map(lambda x : x * x ,val))
print(val2)
for i in val:
    print("square val ",i," = ",i*i)

[121, 2809, 441, 5929, 7569]
square val  11  =  121
square val  53  =  2809
square val  21  =  441
square val  77  =  5929
square val  87  =  7569

#### Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [66]:
def function(n):
    return n+10

list1 = [5,6,6,7,8,9]
#result=map(addition,list1) return object
result=list(map(function,list1))

print(result)

[15, 16, 16, 17, 18, 19]