### Assignment 1 (12-02-2022 to 13-02-2022)

#### 1.	Import the necessary package to a.	Set the current working directory b.	Change the working directory

In [3]:
import os
import numpy as py

In [52]:
def current_path():
    print("Current Working Directory: " , os.getcwd())
    print()
current_path()

print("Current Working Directory after: " , os.chdir('C:/'))

Current Working Directory:  C:\

Current Working Directory after:  None

#### 2.	Create the string, int and float variable and delete them all in the next cell

In [113]:
str  = 'Datascience'
int = 10
float = 9.10
list = [str,int,float]
print(str)
print(int)
print(float)
print(list)

Datascience
10
9.1
['Datascience', 10, 9.1]

In [125]:
del list[0:2]
print(list)

[]

In [123]:

print("list after clear:", list.clear)

list after clear: <built-in method clear of list object at 0x0000025B37D5E980>

#### 3.	What’s the result of assigning a value to a ‘keyword’? a.	Please highlight the error

In [126]:
True = 20
Print(True)

SyntaxError: cannot assign to True (Temp/ipykernel_16068/3527205451.py, line 1)

#### 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [131]:
a= """ My first line of comment
My second line of comment
My third line of comment"""
print(a)

 My first line of comment
My second line of comment
My third line of comment

#### 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [144]:
list(range(1000))

TypeError: 'list' object is not callable

In [151]:
for i in range(100, 999, 8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

#### 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [165]:
n= (25,26,27,28)
for i in n:
    if i%2 ==0:
        break
print(i)

26

#### 7.	Write a simple function and call the docstring from outside the function

In [170]:
def fun1():
    """ It's a docstring"""
    print ('This is a simple function')

In [171]:
fun1()

This is a simple function

In [172]:
print(fun1.__doc__)

 It's a docstring

#### 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last

##### Formula for semi- perimeter s = (a+b+c)/2
##### Formula for area = √(s(s-a)*(s-b)*(s-c))

In [191]:
from my_package import User_defined package

SyntaxError: invalid syntax (Temp/ipykernel_16068/2876559864.py, line 1)

In [193]:
a=User_defined package.a
b=User_defined package.b
c=User_defined package.c
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_16068/2591336463.py, line 1)

#### 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [194]:
list_com= [x for x in range(0,100) if x%2 == 0] 
print(list_com)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran

In [196]:
Name= "Dhaya srinivasan"
vowels=["a","e,","i","o","u"]
l=[]
for i in Name:
    if i in vowels:
        l.append(i)
print(l)

['a', 'a', 'i', 'i', 'a', 'a']